
main{
    grid-area: main;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    width: 100%;
}
.mainConteiner{
    background-color: var(--bright-color);
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.topImage img{
    padding-top: 65px;
    width: 100%;
}
.mainImgs{
    animation: loading 2s  linear both;
    animation-timeline: view();
    animation-range: entry;
    width: 50%;
}
.mainImgs2{
    animation: loading 2s  linear both;
    animation-timeline: view();
    animation-range: entry;
}
@keyframes loading {
    0%{ transform: rotate(90deg); scale: 0.7; opacity: 0;}
    100%{transform: rotate(0deg); scale: 1; opacity: 1;}
}
